<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beuno.beuno">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".alpha.UnoApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/uno_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".page.entry.EntryActivity"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.entry.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <!--
             Our activity is the built-in NativeActivity framework class.
             This will take care of integrating with our NDK code.
        -->
        <activity
            android:name=".page._extra.teapot.TeapotNativeActivity"
            android:configChanges="orientation|keyboardHidden">

            <!-- Tell NativeActivity the name of our .so -->
            <meta-data
                android:name="android.app.lib_name"
                android:value="TeapotNativeActivity" />
        </activity>
        <activity android:name=".page.entry.TestActivity" />
        <activity android:name=".page._extra.gl.UnoGLActivity" />
        <activity android:name=".page.settings.SettingsActivity" />
        <activity android:name=".page.base.UnoDefaultActivity" />
        <activity android:name=".page.page_single.SearchActivity" />
        <activity android:name=".page.page_single.CartActivity" />
        <activity android:name=".page.page_single.NoticeActivity" />
        <activity android:name=".page.page_single.BrandActivity" />
        <activity android:name=".page.page_single.CategoryActivity" />
        <activity android:name=".page.page_detail.DetailGoodsActivity" />
    </application>

</manifest>